<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style.css">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>Quienes somos</h1>
    </header>
    <div>
        <p>
            Somos un grupo de estudiantes que queremos dar a conocere por medio de esta pagina web el conocieminto obtenido
            durante el tiempo de aprendizaje en la universidad. Lo que buscamos es que atravez de nuestra pagina web se 
            pueda dar a conocer lo que sabemos hacer.<br><br>

            ""Nombre que le daremos a la pagina"" Es creada con el objetivo de poder brindar la mayor cantidad de reseñas posibles a los clientes,
            este sitio web fue creado por estudiantes que buscan dar la mejor capacidad posible de su conocimiento.
        </p><br>

        <p>Presentamos reseñas para ayudar a los consumidores a comprar con confianza y 
            brindamos a las empresas información útil para mejorar la experiencia de sus clientes.
            Cuantos más consumidores usen nuestra plataforma y compartan sus opiniones, más útil 
            será la información que proporcionamos 
            a las empresas y más probable es que se ganen la confianza de los consumidores.</p>
    </div>
    <section>
        <article>
                Decidimos realizar este medio por el cual llevamos a tener una mejor experiencia a los clientes,
                para que tengan una idea de lo que puede ser su experiencia en el lugar al que deciden visita.
            </p>
        </article>
    </section>
    <footer>
        <p>Mision TIC</p>
    </footer>
</body>
</html>